<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401899564733-08i7d5gnogka9bus5sq7bj85fkv1b00h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401899564733-08i7d5gnogka9bus5sq7bj85fkv1b00h</string>
	<key>API_KEY</key>
	<string>AIzaSyDdd-xgGZmJqZJcz19U60Yw3fMU1s9E2kM</string>
	<key>GCM_SENDER_ID</key>
	<string>401899564733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c.OAOmates</string>
	<key>PROJECT_ID</key>
	<string>oaomates</string>
	<key>STORAGE_BUCKET</key>
	<string>oaomates.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401899564733:ios:af773618107da466bb11d4</string>
	<key>DATABASE_URL</key>
	<string>https://oaomates.firebaseio.com</string>
</dict>
</plist>